<h2 class="cart_title">Your Cart</h2> 
<ul class="cart"> 
	<%= render(:partial => "galleries/cart_item", :collection => @cart.items) %>
</ul> 
<p class="total_price">
	Total Price: <%= number_to_currency(@cart.total_price) %>
</p>

<p class="button-to">
<% form_remote_tag :url => { :controller => 'galleries', :action => 'empty_cart' }, :html => { :class => 'button-to' } do %> 
	<%= submit_tag "Empty cart" %><br /><br />
	<%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), :controller => 'payments', :action => 'checkout' %><br /><br />
	<%= link_to 'Pay Manually (offline)', :controller => 'payments', :action => 'new' %><br /><br />
	<p>Credit Cards accepted (through Paypal only):<br />
	<%= image_tag('/images/credit-cards.png', :alt => 'Major credit cards accepted') %></p>

<% end %> 

</p>