<h1>Editing gallery</h1>

<% form_for(@gallery) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>


<div class="message">
				Add photos to <%= @gallery.name %>
</div>
<div class="buttons">
	<button id="browse" class="browse">Browse</button>
	<button id="upload" class="upload">Upload Files</button>
	<div id="btnPlaceHolder"></div>
</div>
			
			
<div id="images">
	<%= render :partial => 'photos/image', :collection => @gallery.photos %>
	<div class="clearer"></div>
</div>

			
		

			

<%= link_to 'Show', @gallery %> |
<%= link_to 'Back', galleries_path %>


<%= stylesheet_link_tag 'swfupload' %>		
<script src="http://www.google.com/jsapi"></script>
<script>
	google.load('jquery','1.3.2');
</script>
<%= javascript_include_tag 'swfupload', 'upload' %>
<script>
var swfu;
				
				// Dom Ready
				$(document).ready(function() {
					// Setup SWFU object
					var settings = {
						upload_url: "<%= photos_path(:gallery_id => @gallery.id) %>",
						flash_url: "/flash/swfupload.swf",
						
						post_params: {session_data: "" },
						file_size_limit: "<%= 3.megabytes %>",
						file_types: "*.jpg;",
						file_types_description: "Jpg Image Files",
		
						file_queued_handler: Upload.file_queued,
						file_dialog_complete_handler: Upload.file_dialog_complete,
						upload_start_handler: Upload.upload_start,
						upload_progress_handler: Upload.upload_progress,
						upload_error_handler: Upload.upload_error,
						upload_success_handler: Upload.upload_success,
						upload_complete_handler: Upload.upload_complete,
						
						button_placeholder_id: "btnPlaceHolder",
						button_width: "80",
						button_height: "25",
						button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
						button_cursor: SWFUpload.CURSOR.HAND,
						
						custom_settings: {
							progressTarget: "#images",
							uploadButtonId: "#upload" 
						},
		
						debug: false // Set to true to find out why things aren't working
					};
					
					swfu = new SWFUpload(settings);
					
					// Disable Upload Button
					$('#upload').addClass('disabled').attr('disabled', 'true');
					
					// Add Event Handlers
					$('#upload').click(function() { swfu.startUpload(); });
				});
</script>