<h2>Galleries</h2>
<table>
<% @galleries.each do |gallery| %>
  <tr>
    <td><%=h gallery.name %> <small>(<%= pluralize(gallery.photos.count, 'photo') %>)</small></td>
    <td><%= link_to 'Show', gallery %></td>
    <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
    <td><%= link_to 'Destroy', gallery, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New gallery', signup_path %>